$dark: hsl(240, 5.9%, 10%);
$white: #fff;
$caption: #3f3f46;
$green: hsl(161, 93.5%, 30.4%);
$dark-50: hsl(0, 0%, 98%);
$dark-100: hsl(240, 4.8%, 95.9%);
$dark-200: hsl(240, 5.9%, 90%);

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Sans-Serif;
	color: $dark;
}

#root {
	width: 100%;
	height: 100vh;
	position: relative;
	
	section.search-input {
		width: 100%;
		padding: 0.7rem 1.5rem;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		background: $white;
		border-bottom: 1px solid $dark-200;
		
		input {
			flex-grow: 1;
			padding: 0.9rem 1rem;
			border: none;
			background: $dark-100;
			font-size: 1rem;
			outline: none;
		}
		
		i {
			padding: 0 1rem;
			display: grid;
			place-items: center;
			background: $dark;
			color: $white;
			font-size: 1rem;
		}
	}
	
	section.countries-list {
		width: 100%;
		height: 100%;
		padding-top: calc(2.8rem + 1.4rem + 4px);
		
		> div {
			padding: 0.7rem 1rem;
			border-bottom: 1px solid $dark-200;
			display: flex;
			align-items: center;
			gap: 0.65rem;
			
			&:hover {
				background: $dark-50;
			}
			
			.img-holder {
				display: grid;
				
				img {
					width: 5rem;
					height: 2.85rem;
					box-shadow: 0 0 0.5rem #00000020;
					transition: 150ms;
				}
				
				&:hover > img {
					transform: scale(1.15);
				}
			}
		}
	}
	
	section.no-result {
		width: 100%;
		height: 100%;
		padding: calc(2.8rem + 1.4rem + 4px + 1rem) 1rem 0;
	}
	
	section.country-info {
		width: 100%;
		padding: 1.7rem;
		
		.wrapper {
			width: 97%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 0.7rem;
			
			> * {
				width: 100%;
			}
			
			.img-holder {
				display: flex;
				justify-content: center;
				gap: 0.5rem;
				
				img {
					height: 6rem;
					box-shadow: 0 0 0.4rem #00000020;
				}
			}
			
			.heading {
				display: grid;
				gap: 0.2rem;
				
				h3 {
					font-family: Serif;
					font-size: 1.6rem;
					font-weight: 500;
					text-align: center;
				}
				
				h4 {
					font-size: 1rem;
					font-weight: 400;
					font-style: italic;
					text-align: center;
					color: $caption;
				}
			}
			
			table {
				border-collapse: collapse;
				
				tr {
					&:nth-child(odd) {
						background: $dark-50;
					}
					
					&:hover {
						background: $dark-100;
					}
				}
				
				td {
					padding: 0.5rem 0.6rem;
					font-size: 0.95rem;
					border: 1px solid $dark-200;
				}
			}
			
			.btn-holder {
				display: grid;
				grid-template-columns: repeat(5, auto);
				gap: 0.5rem;
				
				> * {
					padding: 0.7rem;
					font-size: 1rem;
				}
				
				a {
					grid-column: span 1;
					background: $green;
					color: $white;
					text-decoration: none;
					display: grid;
					place-items: center;
				}
				
				button {
					grid-column: span 4;
					border: none;
					background: $dark;
					color: $white;
				}
			}
		}
	}
}