* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

html {
	font-size: 16px;
	font-family: Sans-Serif;
	color: #18181b;
}

.search-input-container {
	padding: 0.6rem 1rem;
	display: flex;
	border-bottom: 1px solid #e4e4e7;
}

.search-input-container input {
	flex: 1;
	font-size: 1rem;
	padding: 0.8rem;
	border: none;
	background: #f4f4f5;
}

.search-input-container button {
	width: 2.8rem;
	font-size: 1rem;
	border: none;
	color: #fff;
	background: #18181b;
}

main {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

main .countries-list-container {
	flex: 1;
	overflow-y: auto;
}

main .countries-list-container > div {
	padding: 0.6rem 1rem;
	display: flex;
	gap: 0.5rem;
	border-bottom: 1px solid #e4e4e7;
	cursor: pointer;
}

main .countries-list-container > div:hover {
	background: #fafafa;
}

main .countries-list-container > div img {
	height: 2.8rem;
	width: 5rem;
	object-position: center;
	box-shadow: 0 0 0.4rem #e4e4e7;
	transition: 150ms;
}

main .countries-list-container > div img:hover {
	margin-right: 0.5rem;
	transform: scale(1.2);
}

main .countries-list-container > div > div {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}

main .countries-list-container > div h3, main .countries-list-container > div p {
	font-size: 0.9rem;
}

main .no-result-container {
	display: none;
	padding: 1rem;
}
